*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 1.75rem;
}

p {
    font-size: 1rem;
}

.input-section {
    background-color: #6943FF;
    color: #FFFFFF;
    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.user-input {
    align-self: center;
    width: 120px;
    height: 80px;
    background-color: unset;
    border: 2px solid #B295FF;
    border-radius: 5px;
    font-size: 3.625rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

.input-section button {
    cursor: pointer;
    align-self: center;
    background-color: #FFFFFF;
    color: #3D3D3D;
    font-weight: 600;
    border: 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
}

.calc-section {
    background-color: #F4F4F4;
    padding: 0 20px;

    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.calc-section div {
    background-color: #FFFFFF;
    height: 110px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.calc-section h2 {
    color: #5A537B;
    font-size: 1.25rem;
}

.calc-section p {
    color: #353535;
}

@media (max-width:460px) {
    h1 {
        font-size: 1.4rem;
    }

    .calc-section h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }
}

@media (max-width:376px) {
    h1 {
        font-size: 1.2rem;
    }

    .calc-section h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.7rem;
    }
}